<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>wiki new</title>
	<link href="//cdn.bootcss.com/skeleton/2.0.4/skeleton.css" rel="stylesheet">
	<link rel='stylesheet' href='/style.css' />
</head>
<body>
	<div class="container" id="app"></div>
	<script>var USER=<%- user%>;</script>
	<script src='/all.js'></script>
</body>
</html>